.border-line {
    border: 0.5px solid black;
    /* margin: 0 2vw; */
    margin: 10% 2vw;
}

.container {
    margin:0 auto;
}

.scroll-able {
    height: 20vh;
    overflow-y: scroll;
}

.scroll-able p {
    margin: 10vh 0;
    padding-right: 2vw;
}

.item-center{
    margin: auto 0;
}

.flex{
    display: flex;
}

.flex-column {
    flex-direction: column;
    columns: 2;
}

.flex-wrap{
    flex-wrap: wrap;
}


.title {
    font-size: 4rem;
}

.sub-title {
    font-size: 1.2rem;
}

.relative{
    position: relative;
}

.intro .abs-class {
    position: absolute;
    width: 100%;
}

.abs-bott {
    bottom: 1.5rem;
    left: 0;
}

.overlay {
    background-color: rgba(0,0,0,0.5);
}
.txt-center{
    text-align: center;
}

.btn {
	border: 2px solid black;
	background-color: rgb(31, 31, 31);
}

.margin-4-vh {
    margin: 4vh 0;
}

.txt-right{
    text-align: right;
}