.border-line {
    border: 0.5px solid black;
    margin: 0 2vw;
}

.container {
    margin:0 auto;
}

.scroll-able {
    height: 20vh;
    overflow-y: scroll;
}

.scroll-able p {
    margin: 10vh 0;
    padding-right: 2vw;
}

.item-center{
    margin: auto 0;
}

.flex{
    display: flex;
}

.flex-column {
    flex-direction: column;
}