#menu li:hover,
#menu li.active,
#menu li.active a,
.overlay a.sub-title:hover {
  transition: 1s ease;
  color: #00c8ff;
  border-bottom: #00c8ff 1px solid;
}

input:focus,
textarea:focus {
  outline: unset;
}

.avatar-container:hover .avatar {
  opacity: 0.3;
  transition: 1s ease;
}

.avatar-container:hover .middle {
  opacity: 1;
  transition: 1s ease;
}

a:hover {
  color: #00c8ff;
  transition: 1s ease;
}

.btn:hover {
  transition: 1s ease;
  /* background-color: rgb(61, 61, 61); */
  background-color: #00c8ff41;
  border-color: whitesmoke;
}

.btn:disabled,
.btn[disabled] {
  background-color: #ff000041;
  cursor: not-allowed;
  transition: 1s ease;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: whitesmoke;
  transition: 1s ease;
}

.border:hover {
  border-color: #00c8ff;
}

.info-border.active {
  border-color: #00c8ff;
  border-width: 3px;
}

.form-modal {
  opacity: 0;
  transition: 3s ease;
}

.opa-show {
  opacity: 1;
  transition: 2s ease;
}



.white-smoke:hover {
  color: #00c8ff;
}

.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .rotate-me {
    animation: spin-to-win infinite 20s linear;
  }
}

@keyframes spin-to-win {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}