a, a:visited{
    border:0 none transparent;
    color: rgb(20, 72, 168);
    text-decoration: none;
}

section {
    transition: all 1s linear;
}

.hide {
    display: none; 
}

.visually-hidden{
    opacity: 0;
}

header a:hover{
    -webkit-box-shadow: 0px 0px 100px 0px #00c8ff;
    -moz-box-shadow: 0px 0px 100px 0px #00c8ff;
    box-shadow: 0px 0px 100px 0px #00c8ff;
    transition: 1s;
}