#menu li:hover, #menu li.active{
	/* border-bottom: whitesmoke 1px solid; */
	border-bottom: #00c8ff 1px solid;
	transition: 1s ease;
}

input:focus, textarea:focus{
	outline: unset;
}

.avatar-container:hover .avatar {
	opacity: 0.3;
	transition: 1s ease;
}
  
.avatar-container:hover .middle {
	opacity: 1;
	transition: 1s ease;
}

a:hover{
	color:#00c8ff;
	transition: 1s ease;
}

.btn:hover{
	transition: 1s ease;
	/* background-color: rgb(61, 61, 61); */
	background-color: #00c8ff41;
	border-color: whitesmoke;
}

input:hover, textarea:hover, input:focus, textarea:focus{
	border-color: whitesmoke;
	transition: 1s ease;
}