*{
    background-color: #282c34;
    color: #ffffff;
}

header a {
    color: #00c8ff;
    transition: 1s;
}

.title {
    font-size: 4rem;
}

.sub-title {
    font-size: 1.2rem;
}

span {
    font-size: 0.8rem;
}

.cont{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
