* {
    color: whitesmoke;
}


header a {
	transition: 1s;
}


span {
    font-size: 0.8rem;
}

body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	transition: 2s;
}

#menu li a{
	text-decoration:none;
	transition: 1s;
}

#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}

#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

.about {
    width: 50%;
    line-break: auto;
    line-height: normal;
}

.avatar{
	opacity: 1;
	transition: 1s ease;
}

.avatar-container{
	position: relative;
	background-color: #00c8ff41;
	border: 2px solid black;
}

.middle {
	transition: 1s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

input, textarea {
	background-color: transparent;
	border: unset;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin: 1.5vh;
	width: 100%;
	height: 5vh;
	transition: 1s ease;

}
textarea {
	height: 10vh;
	resize: none;
}

.flex>input{
    flex-grow: 1;
    width: 40%;
}

#contact-me input:nth-of-type(5){
    width: 100%;
}
